* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: .25rem;
}

.nav li {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}

.nav li:hover {
    background-color: #777;
}


/* .nav li.activate {
    background-color: #555;
} */

.site-title {
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    float: left;
}

.icon {
    float: left;
    height: 60px;
    margin: 0;
}